@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Estilo Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  /* background-color: #000;  */
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

/* Estilo do Header */

header {
  width: 100%;
  padding: 40px 0;
  position: fixed;
  top: 0;
  left: 0;
}

header .interface {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .menu-desktop nav ul {
  list-style-type: none;
}

header .menu-desktop nav ul li {
  display: inline-block;
  margin: 0 40px;
}

header .menu-desktop nav ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 16px;
}

header .menu-desktop nav ul li a:before,
header .menu-desktop nav ul li a:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #fff;
  transition: 0.5s;
}
header .menu-desktop nav ul li a:after {
  left: 0;
  bottom: -10px;
}
header .menu-desktop nav ul li a:before {
  right: 0;
  top: -10px;
}
header .menu-desktop nav ul li a:hover {
  color: #ffffff;
}
header .menu-desktop nav ul li a:hover:after,
header .menu-desktop nav ul li a:hover:before {
  width: 100%;
}

a button {
  width: 180px;
  height: 50px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  margin: 20px;
}

/* Estilo da Apresentação */

section.apresentacao {
  height: 98vh;
  background-image: url(img/foto-inicio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

.apresentacao .interface {
  padding: 80px;
  display: flex;
  height: 100%;
  align-items: center;
}

.apresentacao .texto-apresentacao h1 {
  font-size: 4em;
  line-height: 70px;
  font-weight: 300;
}

.apresentacao .texto-apresentacao h1 span {
  display: block;
  font-weight: 800;
}

.apresentacao .texto-apresentacao p {
  font-size: 20px;
  font-weight: 300;
  margin: 20px 0;
}

/* Estilo dos Beneficios */
section.beneficios {
  padding: 35px 0;
}

section.beneficios h2 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 30px;
}

section.beneficios .interface {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.beneficios-box {
  /* background-color: red; */
  padding: 30px;
  width: 100vw;
  text-align: center;
  margin: 20px;
}

i{
  font-size: 40px;
}

h3{
  font-size: 25px;
  margin-bottom: 10px;
}

/* Desconto estilo */

section.desconto{
  height: 400px;
  background-image: url(img/pexels-riciardus-307006.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.desconto > .interface{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.desconto span{
  font-weight: 300;
  font-size: 30px;
}

.desconto h3{
  font-weight: 800;
  font-size: 70px;
}

.desconto p{
  font-size: 30px;
  font-weight: 300;
}

/* Estilo dos paises */
section.destinos{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

section.destinos .interface{
  max-width: 900px; 
  margin: auto; 
 padding: 50px 20px; 
  text-align: center; 
}

section.destinos .interface h2{
  margin-bottom: 30px;
  font-size: 30px;
}
.destinos-box{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.destino-pais{
  width: 300px;
}
.destino-pais img{
  width: 100%;
  height: 200px;
  border-radius: 10px;
  text-align: center;
  width: 300px; 
  border-radius: 10px; 
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center; 

}


/* Galeria estilos */

section.galeria h2{
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.galeria-box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 gap: 15px;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

.galeria-box img{
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.galeria-box img:hover{
  transform: scale(1.1);
}


/* estilo do contato */

section.contato{
  margin-top: 40px;
  background-image: url(img/contato.jpg);
  background-attachment: fixed;
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 20px;
}

section.contato h2{
  color: #fff;
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}



.contato-box{
  max-width: 500px;
  margin: auto;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
}

input{
  font-size: 16px;
  padding: 20px;
}

input, textarea{
  width: 100%;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
}

.contato-box button{
  width: 180px;
  height: 50px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer
}



footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  /* margin-top: 20px; */
}
.footer-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}
.footer-links a {
  color: white;
  text-decoration: none;

}


